<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" package="com.kobo.statusbar"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <application>
        <service android:name=".StatusBarService" android:exported="true" />
    </application>
</manifest>
